CREATE TABLE IF NOT EXISTS livres (
    id INT AUTO_INCREMENT PRIMARY KEY,
    titre VARCHAR(255) NOT NULL,
    auteur VARCHAR(255) NOT NULL,
    annee_publication INT,
    isbn VARCHAR(20) UNIQUE NOT NULL,
    disponible BOOLEAN DEFAULT TRUE,
    date_creation TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);


INSERT INTO livres (id, titre, auteur, annee_publication, isbn) VALUES
('LIV001', 'Le Petit Prince', 'Antoine de Saint-Exupéry', 1943, '978-2070612758'),
('LIV002', '1984', 'George Orwell', 1949, '978-2070368227'),
('LIV003', 'L''Étranger', 'Albert Camus', 1942, '978-2070360023');