.root {
    -fx-font-family: "Segoe UI", "Arial";
    -fx-background-color: #f4f6f8;
}

.header {
    -fx-padding: 20;
    -fx-alignment: CENTER;
    -fx-background-color: #2c3e50;
}

.header-title {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.content-root {
    -fx-padding: 40;
}

.card {
    -fx-background-color: white;
    -fx-padding: 30;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 15, 0, 0, 5);
    -fx-alignment: CENTER;
    -fx-min-width: 600;
}

.section-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.menu-button {
    -fx-background-color: #2c3e50;
    -fx-text-fill: white;

    -fx-min-width: 180;
    -fx-min-height: 120;

    -fx-font-size: 16px;
    -fx-font-weight: bold;

    -fx-background-radius: 14;
    -fx-cursor: hand;

    -fx-alignment: CENTER;
}

.menu-button:hover {
    -fx-background-color: #34495e;
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
}

.back-button {
    -fx-background-color: transparent;
    -fx-text-fill: #2980b9;
    -fx-font-size: 13px;
}

.back-button:hover {
    -fx-underline: true;
}
